<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updatecontacts()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updatecontacts()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list #contactsList [hidden]="shownContacts == 0">

    <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

      <ion-item-sliding *ngFor="let contact of group.contacts" #slidingItem [attr.track]="contact.tracks[0] | lowercase" [hidden]="contact.hide">

        <button ion-contact (click)="goToContactDetail(contact)">
          <img [src]= "contacts.profilePic" alt="contactpic">
          <h3>{{contacts.name}}</h3>

        </button>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, contact)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, contact, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

  <ion-list-header [hidden]="shownContacts < 0">
      No Contacts Found
  </ion-list-header>

  

</ion-content>